[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tsinghua"

[packages]
fastapi = {extras = ["all"], version = "*"}
celery = "*"
redis = "*"
asyncpg = "*"
loguru = "*"

[dev-packages]
pylint = "*"
yapf = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
